img, embed, object, video {
    max-width: 100%;
}
main {
    font-family: 'Comfortaa', cursive;
    color: 	#3b3f43;
    display: flex;
    flex-wrap: wrap;
}
hr{
    height: 3px;
    background-color: #3b3f43;
    color: 	#3b3f43;
}
header {
    height: 110px;
    width: 95%;
}
.header-height {
    height: 121px;
}
.logo {
    float: left;
}
.name {
    height: 15%;
    float: right;
}
hr {
    clear: both;
    width: 95%;
    float: left;
}
aside {
    width: 10%;
}
.color {
    display: block;
}
.color-value{
    width: 70px;
    margin:auto;
}
.blue {
    width: 60px;
    height: 60px;
    background-color: #02b3e4;
    margin:auto;
}

.black {
    width: 60px;
    height: 60px;
    background-color: #2d3c49;
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;    
}
.gray {
    width: 60px;
    height: 60px;
    background-color: #7d97ad;  
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;    
}
article {
    width: 90%;
}

.container {
    display: flex;
    flex-wrap: wrap;
}
.box {
    width: 305px;
}

div a {
    width:48px; height:48px;
    border-spacing: 1.5em;
}

.project {
    padding-right: 30px;
}


